<!DOCTYPE html>
<html>
<head>
    <% if (BASE_URL === './') { %><base href="app://./" /><% } %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="loading.css">
    <link rel="icon" href="<%= BASE_URL %>icon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100:300,400,500,700,900|Material+Icons" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but languages-quiz doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
