<template>
  <div class="about">
    <v-card class="ma-3" color="grey lighten-3">
      <v-layout class="ma-2" column>
        <h1 class="text-xs-center">{{ appName | localize }}</h1>
        <p class="text-xs-center">{{ version | localize({ version: versionNumber })}}</p>
        <p>
          {{ copyright | localize }}
          <br/>
          {{ rights | localize }}
        </p>
        <p>{{ license | localize }}</p>
        <p>{{ credits | localize }}</p>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
import packageJson from '../../package.json';

export default {
  data() {
    return {
      appName: 'app_name',
      copyright: 'about.copyright',
      rights: 'about.rights',
      version: 'about.version',
      versionNumber: packageJson.version,
      license: 'about.license',
      credits: 'about.credits',
    };
  },
};
</script>

<style lang="scss">

</style>
