<template>
  <v-container grid-list-sm fluid>
    <v-layout row wrap>
      <v-flex xs12 md4>
        <info-panel></info-panel>
      </v-flex>
      <v-flex xs12 md8>
        <game-panel></game-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import InfoPanel from '../components/InfoPanel.vue';
import GamePanel from '../components/GamePanel.vue';

export default {
  components: {
    InfoPanel,
    GamePanel,
  },
};
</script>


<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
