<template>
  <div class="welcome">
    <v-card class="ma-3" color="grey lighten-3">
      <v-layout column align-center>
        <h1>{{ title | localize }}</h1>
        <div v-if="hasDirectorySetting && exist && empty" class="ma-3">
          <v-alert
            :value="true"
            type="error"
            outline
          >
            <p>{{ noMp3 | localize }}</p>
            <p>{{ directory }}</p>
          </v-alert>
        </div>
        <div v-if="hasDirectorySetting && !exist" class="ma-3">
          <v-alert
            :value="true"
            type="error"
            outline
          >
            <p>{{ notExist | localize }}</p>
            <p>{{ directory }}</p>
          </v-alert>
        </div>
        <div v-if="!hasDirectorySetting" class="ma-3">
          <v-alert
            :value="true"
            type="info"
            outline
          >
            <p>{{ noSetting | localize }}</p>
          </v-alert>
        </div>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
import settings from 'electron-settings';

export default {
  props: {
    hasDirectorySetting: {
      type: Boolean,
      default: false,
    },
    exist: {
      type: Boolean,
      default: false,
    },
    empty: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      title: 'welcome.title',
      noMp3: 'welcome.no_mp3',
      notExist: 'welcome.not_exist',
      noSetting: 'welcome.no_setting',
      directory: this.hasDirectorySetting ? settings.get('audio.directory') : null,
    };
  },
};
</script>

<style lang="scss">

</style>
