<template>
  <div class="game-panel">
    <v-card color="grey lighten-3">
      <v-layout column align-center>

        <img draggable="false" src="@/assets/logo.png" alt="Logo" class="lq-logo">

        <blockquote>
          {{ quote | localize }}
          <footer>
            <em>&mdash;{{ author | localize }}</em>
          </footer>
        </blockquote>

        <v-btn
          v-if="current"
          :color="playing === true ? 'green' : 'purple'"
          class="lq-play-btn"
          fab
          dark
          large
          @click="buttonPlay"
        >
          <v-icon dark>fas fa-volume-up</v-icon>
        </v-btn>

        <audio
          ref="audio_element"
          :src="audioSource"
          autoplay
          @ended="playing = false"
          @play="playing = true"
        >
        </audio>

        <v-autocomplete
          v-if="current"
          v-model="answer"
          :items="propositions"
          :label="dropdownLabel | localize"
          :no-data-text="noDataText | localize"
          item-text="name"
          item-value="code"
          persistent-hint
          prepend-icon="fas fa-language"
        >
        </v-autocomplete>

        <div v-if="current">
          <v-btn :disabled="!current" color="grey" @click="skip">{{ skipButtonLabel | localize }}</v-btn>
          <v-btn
            :disabled="answer === null"
            color="success"
            @click="submit"
          >
            {{ okButtonLabel | localize }}
          </v-btn>
        </div>

        <h2 v-if="!current" class="display-3">{{ end | localize }}</h2>
        <v-btn
          v-if="!current"
          color="success"
          @click="newGame"
        >
          {{ replay | localize }}
        </v-btn>

      </v-layout>
    </v-card>
  </div>
</template>

<script>
import { remote } from 'electron';
import { audioDataUrl } from '../services/media';

export default {
  name: 'GamePanel',
  data() {
    return {
      isEditing: false,
      quote: 'example.quote',
      author: 'example.author',
      dropdownLabel: 'dropdown_label',
      answer: null,
      okButtonLabel: 'ok',
      skipButtonLabel: 'skip',
      noDataText: 'no_data_text',
      playing: false,
      end: 'game_end',
      replay: 'replay',
    };
  },
  computed: {
    questions() {
      return this.$store.state.questions;
    },
    propositions() {
      return this.questions
        .slice(0)
        .sort((a, b) => ((a.name < b.name) ? -1 : (a.name > b.name) ? 1 : 0));
    },
    current() {
      const { index, questions } = this.$store.state;

      if (index < questions.length) {
        return questions[index];
      }

      return null;
    },
    audioSource() {
      if (this.current === null) {
        return null;
      }
      return audioDataUrl(this.current.path);
    },
  },
  methods: {
    submit() {
      if (this.answer === null) {
        return;
      }

      if (this.answer === this.current.code) {
        this.$store.dispatch('correct');
      } else {
        this.$store.dispatch('wrong');
      }

      this.next();
    },
    skip() {
      this.$store.dispatch('skip');
      this.next();
    },
    next() {
      this.answer = null;
      this.playing = false;
      this.play();
    },
    play() {
      const audio = this.$refs.audio_element;
      if (audio.paused) {
        audio.play();
      } else {
        audio.pause();
      }
    },
    buttonPlay() {
      this.playing = !this.playing;
      this.play();
    },
    newGame() {
      remote.getCurrentWindow().reload();
    },
  },
};
</script>

<style lang="scss">
.lq-logo {
  margin-top: 10px;
  width: 100px;
}

.lq-play-btn {
  margin: 10px 0 10px;
}

.game-panel {
  min-width: 290px;
}

.v-select {
  .v-icon {
    cursor: pointer;
  }
}
</style>
