<template>
  <div class="info-panel">
    <v-card dark color="white" class="black--text">
      <v-container fluid grid-list-lg>
        <v-layout row>
          <v-flex xs7 sm9 md6 lg8>
            <div>
              <div class="headline">{{ title | localize }}</div>
              <scores :good="good" :mid="mid" :bad="bad" :unknown="remaining"></scores>
            </div>
          </v-flex>
          <v-flex xs5 sm3 md6 lg4 align-content-end>
            <v-progress-circular
              :rotate="-90"
              :size="100"
              :width="15"
              :value="progressPercentage"
              color="teal"
            >
              {{ progress }} / {{ total }}
            </v-progress-circular>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Scores from './Scores.vue';

export default {
  name: 'InfoPanel',
  components: {
    Scores,
  },
  data() {
    return {
      title: 'progress',
    };
  },
  computed: {
    good() {
      return this.$store.state.good;
    },
    mid() {
      return this.$store.state.mid;
    },
    bad() {
      return this.$store.state.bad;
    },
    total() {
      return this.$store.state.questions.length;
    },
    progress() {
      return this.good + this.mid + this.bad;
    },
    progressPercentage() {
      return this.progress / this.total * 100;
    },
    remaining() {
      return this.total - this.progress;
    },
  },
};
</script>

<style lang="scss">
.info-panel {
  min-width: 290px;
}

.headline {
  margin-bottom: 10px;
}
</style>
