<template>
  <div class="scores">
    <v-layout align-start fill-height wrap>
      <div>
        <v-tooltip bottom>
          <v-chip slot="activator" color="green darken-3" text-color="white">
            <v-avatar>
              <v-icon>far fa-smile</v-icon>
            </v-avatar>
            {{ good }}
          </v-chip>
          <span>{{ good_tooltip | localize({ count: good }) }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-chip slot="activator" color="amber" text-color="white">
            <v-avatar>
              <v-icon>far fa-meh</v-icon>
            </v-avatar>
            {{ mid }}
          </v-chip>
          <span>{{ mid_tooltip | localize({ count: mid }) }}</span>
        </v-tooltip>
      </div>
      <div>
        <v-tooltip bottom>
          <v-chip slot="activator" color="red darken-4" text-color="white">
            <v-avatar>
              <v-icon>far fa-frown</v-icon>
            </v-avatar>
            {{ bad }}
          </v-chip>
          <span>{{ bad_tooltip | localize({ count: bad }) }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-chip slot="activator" color="blue-grey lighten-2">
            <v-avatar>
              <v-icon>far fa-question-circle</v-icon>
            </v-avatar>
            {{ unknown }}
          </v-chip>
          <span>{{ remaining_tooltip | localize({ count: unknown }) }}</span>
        </v-tooltip>
      </div>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'Scores',
  props: {
    good: {
      type: Number,
      default: 0,
    },
    mid: {
      type: Number,
      default: 0,
    },
    bad: {
      type: Number,
      default: 0,
    },
    unknown: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      good_tooltip: 'good_tooltip',
      mid_tooltip: 'mid_tooltip',
      bad_tooltip: 'bad_tooltip',
      remaining_tooltip: 'remaining_tooltip',
    };
  },
};
</script>
