<template>
  <div id="app">
    <v-app>
      <router-view />
    </v-app>
  </div>
</template>

<script>
import fs from 'fs';
import settings from 'electron-settings';
import uuidv4 from 'uuid/v4';

export default {
  name: 'App',
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire',
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    };
  },
  created() {
    if (this.$route.path !== '/' && !this.$route.path.startsWith('/welcome/')) {
      return;
    }

    const hasDirectorySetting = settings.has('audio.directory');
    let empty = false;
    let exist = false;

    if (hasDirectorySetting) {
      const directory = settings.get('audio.directory');
      exist = fs.existsSync(directory);
      if (exist) {
        const files = fs.readdirSync(directory, { });
        const mp3s = files.filter(f => f.endsWith('.mp3'));
        empty = mp3s.length === 0;
      }
    }

    if (empty || !exist || !hasDirectorySetting) {
      this.$router.push({
        name: 'welcome',
        params: {
          uuid: uuidv4(), hasDirectorySetting, exist, empty,
        },
      });
    } else {
      this.$router.push({ name: 'home' });
    }
  },
};
</script>


<style lang="scss">
html {
  overflow-y: auto;
  user-select: none;
  cursor: default;
}

#app {
  background-image: url("~/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
